@mixin gradient-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin remove-gradient-text {
  background: none !important;
  background-clip: initial !important;
  -webkit-background-clip: initial !important;
  -moz-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
  -moz-text-fill-color: initial !important;
}

/* new mixins */
@mixin container {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: 1598px) {
    max-width: calc(100% - 80px);
  }

  @media screen and (max-width: 768px) {
    max-width: calc(100% - 30px);
  }
}

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}
