@mixin gradient-text {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

@mixin remove-gradient-text {
  background: none !important;
  background-clip: initial !important;
  -webkit-background-clip: initial !important;
  -moz-background-clip: initial !important;
  -webkit-text-fill-color: initial !important;
  -moz-text-fill-color: initial !important;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}
