.experienceTitle {
  color: $gray-300;

  @media screen and (max-width: 1368px) {
    font-size: 1.4rem;
  }

  @media screen and (max-width: 798px) {
    font-size: 1.6rem;
  }

  @media screen and (max-width: 598px) {
    font-size: 1.35rem;
  }
}
