.logo {
  color: $primary-50;
  letter-spacing: -0.055em;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 600;
  position: relative;

  @media screen and (max-width: 768px) {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  &::after {
    content: '<';
    position: absolute;
    top: 0;
    left: -1.8rem;
    font-size: 2.4rem;
    background: $main-gradient;
    @include gradient-text;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }

  &::before {
    content: '/>';
    position: absolute;
    top: 0;
    right: -2.8rem;
    letter-spacing: -0.055em;
    font-size: 2.4rem;
    background: $main-gradient;
    @include gradient-text;

    @media screen and (max-width: 768px) {
      font-size: 2rem;
    }
  }
}
