.navbar__link {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: $primary-100;
  display: inline-flex;
  letter-spacing: -0.01em;
  cursor: pointer;
  transition: font-weight 0.3s, color 0.3s ease-in-out;

  &:hover {
    color: $secondary-400;
    transition: color 0.3s ease-in-out;
  }

  &.-active {
    color: $secondary-500;
    font-weight: 600;
    transition: font-weight 0.3s, color 0.3s ease-in-out;
  }
}
