.subtitle {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: -0.6rem;
  background: $main-gradient;
  @include gradient-text();
  width: max-content;

  @media screen and (max-width: 1280px) {
    font-size: 1.6rem;
  }
}
