.header {
  padding: 2rem;
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 9;
  background: linear-gradient(180deg, #070809 0%, rgba(0, 0, 0, 0) 100%);

  &__container {
    display: flex;
    margin: 0 3rem;
    align-items: center;
    justify-content: space-between;
  }
}
