.hero {
  width: 100%;
  height: calc(100vh - 91.6px);
  text-align: center;
  position: relative;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    position: relative;
  }

  &__scroll {
    position: absolute;
    bottom: 3rem;
    opacity: 0.5;
    @include animation("moveUpAndDown 2s ease-in-out infinite");
  }
}