.introduction {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  margin: 7rem 0;
  

  &__container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
  }

  .textAboutMe {
    height: 100%;
    margin: 6.6rem 0 0 2rem;
    max-width: 650px;

    p {
      line-height: 150%;
      color: $gray-300;
      margin-bottom: 1rem;
    }
  }
}
