.skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1920px;
  margin: 12rem auto 0;

  &__container {
    width: 80%;
    margin: 0 auto;
    padding: 1rem 0;
    display: flex;
  }
}
