.contactsFooter {
  display: flex;
  align-items: center;
  width: 15rem;
  justify-content: space-around;
  transition: all 0.3s ease-in-out;

  @media screen and (max-width: 768px) {
    margin-top: 1.6rem;
  }

  &__item {
    width: 2.4rem;
    height: 2.4rem;

    &:hover {
      opacity: 0.5;
      transition: all 0.3s ease-in-out;
    }
  }
}
