.contact-list {
  @include flex(flex-start, center);
  gap: 2rem;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }

  &__link {
    color: $primary-50;
    transition: all 0.5s ease-in-out;

    @include flex(flex-end, flex-end);
    gap: 0.4rem;

    @media screen and (max-width: 960px) {
      font-size: 1.4rem;
    }

    &:hover {
      color: $primary-300;
      transition: all 0.5s ease-in-out;
    }

    img {
      @media screen and (max-width: 960px) {
        width: 2.2rem;
      }
    }
  }
}
