.contactList {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;

  @media screen and (max-width: 568px) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    display: flex;
    align-items: center;

    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(#000, #000) padding-box,
      $main-gradient border-box;
    border: 1.5px solid transparent;
    transition: opacity 0.3s ease-in-out;

    @media screen and (min-width: 568px) {
      &:nth-child(2) {
        margin-left: 2.6rem;
      }
    }

    @media screen and (max-width: 568px) {
      &:nth-child(2) {
        margin-top: 1.6rem;
      }
    }

    a {
      width: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &:hover {
      opacity: 0.6;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &__icon {
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    flex: 1;
  }

  &__wrapper {
    line-height: 150%;

    span {
      font-weight: 600;
      margin-bottom: 0.8rem;
      color: $gray-400;
    }
  }
}
