.experienceList {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;

  &__container {
    display: flex;
    align-items: center;
    margin-top: 1rem;

    @media screen and (max-width: 798px) {
      flex-direction: column;
      margin-top: 2rem;
    }

    li {
      display: flex;
      align-items: center;
      margin: 0 1rem 0;

      @media screen and (max-width: 798px) {
        margin: 0.3rem 0;
      }

      &:nth-child(2) {
        &:before {
          content: '';
          width: 50px;
          height: 5px;
          margin-right: 2rem;
          border-radius: 9px;
          background: $main-gradient;
          display: inline-flex;

          @media screen and (max-width: 798px) {
            width: 30px;
            height: 3px;
            margin-right: 1rem;
            align-items: center;
            justify-content: center;
          }
        }

        &:after {
          content: '';
          width: 50px;
          height: 5px;
          margin-left: 2.2rem;
          border-radius: 9px;
          background: $main-gradient;
          display: inline-flex;

          @media screen and (max-width: 798px) {
            width: 30px;
            height: 3px;
            margin-left: 1rem;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
