.floatingSocial {
  background-color: transparent;

  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 3%;
  right: 0;
  bottom: 0;
  width: 32rem;
  height: 32rem;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-size: cover;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  @include animation(
    'floating-github 8s 1s cubic-bezier(0.4, 0.01, 0.165, 0.99) infinite'
  );

  @media screen and (max-width: 1368px) {
    width: 24rem;
    height: 24rem;
  }

  @media screen and (max-width: 998px) {
    position: relative;
    animation: none;
    left: auto;
    right: auto;
    bottom: 0;
    top: auto;
    animation: none;
    width: 9rem;
    height: 9rem;
    margin: 0 1rem;
  }

  @media screen and (max-width: 768px) {
    width: 7rem;
    height: 7rem;
    margin: 0 1rem;
  }

  &::before {
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.15rem;
    opacity: 0.5;
    background: linear-gradient(#000, #000) padding-box,
      $main-gradient border-box;
    border: 2px solid transparent;
    border-radius: 50%;
  }

  @media screen and (min-width: 998px) {
    &:hover {
      transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      transform: scale(1.2);
  
      svg {
        opacity: 1;
        color: $gray-300;
        transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
      }
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  }

  &__overlay {
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;

    @media screen and (max-width: 1368px) {
      padding: 0.7rem;
    }
  }

  svg {
    fill: currentColor;
    height: auto;
    max-width: 66vmin;
    transform-origin: center;
    width: auto;
    position: absolute;
    @include animation('rotateText 10s linear infinite');
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    pointer-events: none;

    @media screen and (max-width: 998px) {
      margin: 0.4rem;
    }

    text {
      font-size: 0.4rem;
      letter-spacing: -0.03em;

      @media screen and (max-width: 998px) {
        font-size: 0.75rem;
        letter-spacing: 0;
      }
    }
  }

  &:nth-child(2) {
    top: 0;
    left: auto;
    right: 5%;
    bottom: auto;
    width: 28rem;
    height: 28rem;
    @include animation(
      'floating-gmail 8s cubic-bezier(0.4, 0.01, 0.165, 0.99) infinite'
    );

    @media screen and (max-width: 1368px) {
      width: 22rem;
      height: 22rem;
    }

    @media screen and (max-width: 998px) {
      animation: none;
      animation: none;
      left: auto;
      right: auto;
      bottom: 0;
      top: auto;
      width: 9rem;
      height: 9rem;
    }

    @media screen and (max-width: 768px) {
      width: 7rem;
      height: 7rem;
      margin: 0 1rem;
    }
  }

  &:nth-child(3) {
    top: auto;
    left: 14%;
    right: auto;
    bottom: 0;
    width: 22rem;
    height: 22rem;
    @include animation(
      'floating-linkedin 8s 1s cubic-bezier(0.4, 0.01, 0.165, 0.99) infinite'
    );

    @media screen and (max-width: 1368px) {
      width: 16rem;
      height: 16rem;
    }

    @media screen and (max-width: 998px) {
      animation: none;
      animation: none;
      left: auto;
      right: auto;
      bottom: 0;
      top: auto;
      width: 9rem;
      height: 9rem;
    }

    @media screen and (max-width: 768px) {
      width: 7rem;
      height: 7rem;
      margin: 0 1rem;
    }
  }

  &__icon {
    width: 40px;
    height: 40px;
    
    @media screen and (max-width: 1368px) {
      width: 35px;
      height: 35px;
    }

    @media screen and (max-width: 998px) {
      width: 30px;
      height: 30px;
    }

    @media screen and (max-width: 768px) {
      width: 25px;
      height: 25px;
    }
  }
}
