.hero-content {
  @include flex;
  @include container;
  padding: 0 24px 153px;
  gap: 160px;
  border-bottom: 1px solid $primary-500;

  @media screen and (max-width: 1440px) {
    gap: 140px;
  }

  @media screen and (max-width: 1280px) {
    gap: 60px;
    padding: 0 8px 130px;
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
    padding-bottom: 46px;
    padding-top: 26px;
  }

  &__container {
    max-width: 860px;
    width: 100%;

    @media screen and (max-width: 1440px) {
      max-width: 660px;
    }

    .name {
      font-weight: 600;
      font-size: 52px;
      line-height: 63px;
      background: $main-gradient;
      @include gradient-text;
      margin-bottom: 16px;

      @media screen and (max-width: 1440px) {
        font-size: 38px;
        line-height: 53px;
      }

      @media screen and (max-width: 1280px) {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 12px;
      }
    }

    .description {
      font-weight: 400;
      font-size: 24px;
      line-height: 150%;
      color: $primary-100;
      margin-bottom: 34px;

      @media screen and (max-width: 1440px) {
        font-size: 20px;
      }

      @media screen and (max-width: 1280px) {
        font-size: 18px;
        margin-bottom: 18px;
      }
    }

    .current-work {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: $primary-100;
      margin-bottom: 50px;

      @media screen and (max-width: 1440px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1280px) {
        margin-bottom: 20px;
      }

      a {
        text-decoration: underline;
        margin-left: 4px;
        color: $secondary-300;
      }
    }

    .view-works {
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      color: $secondary-300;
      position: relative;
      @include flex(flex-start, center);

      @media screen and (max-width: 1440px) {
        font-size: 16px;
      }

      &::before {
        content: '';
        position: relative;
        display: flex;
        left: 0;
        width: 30px;
        height: 2px;
        border-radius: 8px;
        margin-right: 12px;
        background: $secondary-300;

        @media screen and (max-width: 1440px) {
          width: 20px;
        }
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      min-width: 444px;
      @media screen and (max-width: 1440px) {
        max-width: 444px;
      }

      @media screen and (max-width: 1280px) {
        min-width: 344px;
      }
    }
  }
}
