.hero-content {
  @include flex;
  @include container;
  padding: 0 2.4rem 15.3rem;
  gap: 16rem;
  border-bottom: 0.1rem solid $primary-500;

  @media screen and (max-width: 1440px) {
    gap: 14rem;
  }

  @media screen and (max-width: 1280px) {
    gap: 6rem;
    padding: 0 0.8rem 13rem;
  }

  @media screen and (max-width: 960px) {
    flex-direction: column;
    padding-bottom: 4.6rem;
    padding-top: 2.6rem;
  }

  &__container {
    max-width: 86rem;
    width: 100%;

    @media screen and (max-width: 1440px) {
      max-width: 66rem;
    }

    .name {
      font-weight: 600;
      font-size: 5.2rem;
      line-height: 6.3rem;
      background: $main-gradient;
      @include gradient-text;
      margin-bottom: 1.6rem;

      @media screen and (max-width: 1440px) {
        font-size: 3.8rem;
        line-height: 5.3rem;
      }

      @media screen and (max-width: 1280px) {
        font-size: 3.2rem;
        line-height: 4.8rem;
        margin-bottom: 1.2rem;
      }
    }

    .description {
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 150%;
      color: $primary-100;
      margin-bottom: 3.4rem;

      @media screen and (max-width: 1440px) {
        font-size: 2rem;
      }

      @media screen and (max-width: 1280px) {
        font-size: 1.8rem;
        margin-bottom: 1.8rem;
      }
    }

    .current-work {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: $primary-100;
      margin-bottom: 5rem;

      @media screen and (max-width: 1440px) {
        font-size: 1.6rem;
      }

      @media screen and (max-width: 1280px) {
        margin-bottom: 2rem;
      }

      a {
        text-decoration: underline;
        margin-left: 0.4rem;
        color: $secondary-300;
      }
    }

    .view-works {
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.8rem;
      color: $secondary-300;
      position: relative;
      @include flex(flex-start, center);
      display: inline-flex;
      background-image: linear-gradient($secondary-300, $secondary-300);
      background-size: 0 2px;
      background-position: right bottom;
      background-repeat: no-repeat;
      transition: background-size 0.5s ease-in-out;

      @media screen and (max-width: 1440px) {
        font-size: 1.6rem;
      }

      &::before {
        content: '';
        position: relative;
        display: flex;
        left: 0;
        width: 3rem;
        height: 0.2rem;
        border-radius: 0.8rem;
        margin-right: 1.2rem;
        background: $secondary-300;

        @media screen and (max-width: 1440px) {
          width: 2rem;
        }
      }

      &:hover {
        background-size: 100% 2px;
        background-position: left bottom;
      }
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      min-width: 444px;
      @media screen and (max-width: 1440px) {
        max-width: 444px;
      }

      @media screen and (max-width: 1280px) {
        min-width: 344px;
      }
    }
  }
}
