.navbar {
  @include flex();

  &__container {
    width: 100%;
    @include flex;
    gap: 6rem;

    @media screen and (max-width: 768px) {
      margin-top: 1.4rem;
      gap: 3rem;
    }
  }

  &.-active {
    display: flex !important;
  }
}
