.navbar {
  width: 100%;
  max-width: 400px;
  border-radius: 1.5rem;
  display: flex;

  @media screen and (max-width: 998px) {
    position: fixed;
    background: rgba(11, 11, 11, 0.9);
    backdrop-filter: blur(10px);
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
  }

  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 4rem;
    border-radius: 1.5rem;
  }

  &.-active {
    display: flex !important;
  }
}
