.presentationPhoto {
  width: 350px;
  position: relative;

  @media screen and (max-width: 998px) {
    width: 100%;
  }

  &__title {
    position: absolute;
    z-index: 1;
    right: -80%;
    top: -10%;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 120%;
    max-width: 310px;
    letter-spacing: -0.03em;

    @media screen and (min-width: 1120px) {
      font-size: 4.8rem;
      max-width: 360px;
    }

    @media screen and (max-width: 998px) {
      right: auto;
      top: auto;
      bottom: 0;
      left: 200px;
    }

    @media screen and (max-width: 768px) {
      font-size: 3.2rem;
      left: -20px;
    }
  }

  &__container {
    display: flex;
    width: 350px;
    height: 465px;
    position: relative;
    background: linear-gradient(#000, #000) padding-box,
      $main-gradient border-box;
    border: 3px solid transparent;
    border-radius: 1.6rem;

    @media screen and (max-width: 468px) {
      width: 100%;
    }

    @media screen and (max-width: 368px) {
      height: 365px;
    }

    &::after {
      content: url('/assets/images/effect-photo.svg');
      display: block;
      width: 100px;
      height: 100px;
      position: absolute;
      bottom: -2.2rem;
      right: -4.8rem;
      z-index: -1;
      pointer-events: none;
    }

    &::before {
      content: '';
      width: 80px;
      height: 120px;
      display: block;
      background: $main-gradient;
      position: absolute;
      top: -0.5rem;
      left: -0.5rem;
      border-radius: 1rem;
    }
  }

  &__photo {
    pointer-events: none;
    border-radius: 1.3rem;

    @media screen and (max-width: 468px) {
      object-fit: cover;
    }
  }
}
