.projectCard {
  position: relative;

  @media screen and (min-width: 1120px) {
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / span 2;
    }

    &:nth-child(2) {
      grid-column: 2;
      grid-row: 2 / span 1;
    }

    &:nth-child(3) {
      grid-column: 3;
      grid-row: 1 / span 2;
    }

    &:nth-child(4) {
      grid-column: 1;
      grid-row: 3 / span 2;
    }

    &:nth-child(5) {
      grid-column: 2;
      grid-row: 4 / span 1;
    }

    &:nth-child(6) {
      grid-column: 3;
      grid-row: 3 / span 2;
    }
   
    &:nth-child(7) {
      grid-column: 1;
      grid-row: 5 / span 2;
    }

    &:nth-child(8) {
      grid-column: 2;
      grid-row: 6 / span 1;
    }

    &:nth-child(9) {
      grid-column: 3;
      grid-row: 5 / span 2;
    }
  }

  @media screen and (max-width: 1440px) {
    &:nth-child(1) {
      grid-column: 1;
      grid-row: 1 / span 2;
    }
    &:nth-child(2) {
      grid-column: 2;
      grid-row: 2 / span 1;
    }
    &:nth-child(3) {
      grid-column: 1;
      grid-row: 3 / span 2;
    }
    &:nth-child(4) {
      grid-column: 2;
      grid-row: 4 / span 1;
    }
    &:nth-child(5) {
      grid-column: 1;
      grid-row: 5 / span 2;
    }
    &:nth-child(6) {
      grid-column: 2;
      grid-row: 6 / span 1;
    }
    &:nth-child(7) {
      grid-column: 1;
      grid-row: 7 / span 2;
    }
    &:nth-child(8) {
      grid-column: 2;
      grid-row: 8 / span 1;
    }
    &:nth-child(9) {
      grid-column: 1;
      grid-row: 9 / span 2;
    }
  }

  @media screen and (max-width: 768px) {
    &:nth-child(1) {
      grid-column: 1;
      grid-row: auto;
    }
    &:nth-child(2) {
      grid-column: 1;
      grid-row: auto;
    }
    &:nth-child(3) {
      grid-column: 1;
      grid-row: auto;
    }
    &:nth-child(4) {
      grid-column: 1;
      grid-row: auto;
    }
    &:nth-child(5) {
      grid-column: 1;
      grid-row: auto;
    }
    &:nth-child(6) {
      grid-column: 1;
      grid-row: auto;
    }
    &:nth-child(7) {
      grid-column: 1;
      grid-row: auto;
    }
    &:nth-child(8) {
      grid-column: 1;
      grid-row: auto;
    }
    &:nth-child(9) {
      grid-column: 1;
      grid-row: auto;
    }
  }

  &__container {
    position: relative;
  }

  &__image {
    pointer-events: none;
  }

  &__link {
    position: relative;
    color: $gray-400;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0 0 0.5rem;
    transition: color 0.3s ease-in-out;
    display: flex;
    align-items: center;

    img {
      padding-left: 0.8rem;
    }

    &:hover {
      color: $white;
    }
  }

  &__freelancer {
    position: relative;
    color: $gray-400;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem 0 0 0.5rem;
    display: flex;
    align-items: center;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    justify-content: flex-end;
    z-index: 2;
    position: relative;

    h4 {
      font-size: 2.6rem;
      font-weight: 700;
      line-height: 150%;
      margin-left: 0.5rem;
    }

    span {
      line-height: 150%;
      color: $gray-500;
      font-size: 1.6rem;
      margin-left: 0.5rem;
    }
  }

  .headerCard__container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }
}
