.sectionHeader {
  width: 80%;
  margin-bottom: 2.8rem;
  
  @media screen and (max-width: 998px) {
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 4.2rem;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: -0.03em;

    @media screen and (max-width: 998px) {
      font-size: 3.2rem;
    }
  }
}
